<section class="campo_cadastro">
    <form #formulario="ngForm" (ngSubmit) = "onSubmit(formulario)" >
        <p class="texto_titulo_cadastro">
            Cadastro de Árbitro
        </p>    
        
        <div class="form-group">
            <div class="form-group col-md-12">
                <label for="nome" class="control-label">Nome</label>
            </div>
    
            <div class="form-group col-md-12">
                <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome" 
                required #nome="ngModel" [(ngModel)]="arbitro.nome">
            </div>
        </div>

        <div class="form-group">
            <div class="form-group col-md-12">
                <label for="senha" class="control-label">Senha</label>
            </div>
    
            <div class="form-group col-md-12">
                <input type="password" password class="form-control" name="senha" id="senha"
                placeholder="Senha" 
                required #senha="ngModel" [(ngModel)]="arbitro.senha">
            </div>
        </div>

        <div class="form-group">
            <div class="form-group col-md-6">
                <label for="cpf" class="control-label">CPF</label>
            </div>
    
            <div class="form-group col-md-6">
                <input type="number" number class="form-control" name="cpf" id="cpf" placeholder="CPF" 
                required #cpf="ngModel" [(ngModel)]="arbitro.cpf">
            </div>

            <div class="form-group col-md-6">
                <label for="dataNascimento" class="control-label">Data de Nascimento</label>
            </div>
    
            <div class="form-group col-md-6">
                <input type="date" date class="form-control" name="dataNascimento" 
                id="dataNascimento" required #dataNascimento="ngModel" [(ngModel)]="arbitro.dataNascimento">
            </div>
        </div>

        <div class="form-group">
            <div class="form-group col-md-6">
                <label for="altura" class="control-label">Altura</label>
            </div>
    
            <div class="form-group col-md-6">
                <input type="number" number class="form-control" name="altura" id="altura" 
                placeholder="altura" 
                required #altura="ngModel" [(ngModel)]="arbitro.altura">
            </div>

            <div class="form-group col-md-6">
                <label for="peso" class="control-label">Peso</label>
            </div>
    
            <div class="form-group col-md-6">
                <input type="number" number class="form-control" name="peso" 
                placeholder="peso" 
                id="peso" required #peso="ngModel" [(ngModel)]="arbitro.peso">
            </div>
        </div>

        <div class="form-group col-md-6">
            <div class="form-group col-md-6">
                <label for="sexo">Sexo</label>
                <select id="sexo" class="form-control" id="sexo" name="sexo"
                #sexo="ngModel" [(ngModel)]="arbitro.sexo">
                    <option value="Masculino">Masculino</option>
                    <option value="Feminino">Feminino</option>
                </select>
            </div>
        </div>

        <div class="form-group col-md-6">
            <div class="form-group col-md-6">
                <label for="categoria">Categoria</label>
                <select id="categoria" class="form-control" id="categoria" name="categoria"
                #categoria="ngModel" [(ngModel)]="arbitro.categoria">
                    <option value="LVND">LVND</option>
                    <option value="FCF">FCF</option>
                    <option value="CBF">CBF</option>
                    <option value="FIFA">FIFA</option>
                </select>
            </div>
        </div>

        <div class="form-group col-md-6">
            <div class="form-group col-md-6">
                <label for="funcao">Função</label>
                <select id="funcao" class="form-control" id="funcao" name="funcao"
                #funcao="ngModel" [(ngModel)]="arbitro.funcao">
                    <option value="Arbitro">Árbitro</option>
                    <option value="Assistente">Assistente</option>
                </select>
            </div>
        </div>
        
        <p>
            <button class="btn btn-success" [disabled]="!formulario.valid" type="submit">Salvar</button> 
        </p>
        <p>
            <a class="btn btn-danger" routerLink="/arbitro">Cancelar</a>
        </p>
        
    </form>           
</section>
