<a class="btn btn-success" routerLink="/arbitro-cadastro">Novo</a>

<section class="campo_tabela">
    <p class="texto_titulo_tabela">
        Árbitros cadastrados:
    </p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Assistente</th>
                <th scope="col">Categoria</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let arbitro of arbitros">
                <td>
                    <a routerLink="/arbitro-cadastro/{{arbitro.id}}">
                        {{arbitro.nome}}
                    </a>
                </td>
                <td>{{arbitro.assistente}}</td>
                <td>{{arbitro.categoria}}</td>
            </tr>
        </tbody>
    </table>
</section>

