<section class="campo_tabela">
    <p>
        <a class="btn btn-success" routerLink="/sumula-cadastro">Nova Súmula</a>
    </p>
    <p class="texto_titulo_tabela">
        Súmulas finalizadas:
    </p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Mandante</th>
                <th scope="col">Visitante</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sumula of sumulas">
                <td>
                    <a routerLink="/sumula-visualizacao/{{sumula.id}}">
                        {{sumula.data}}
                    </a>
                </td>
                <td>{{sumula.mandante}}</td>
                <td>{{sumula.visitante}}</td>
            </tr>
        </tbody>
    </table>
</section>

