<section class="campo_procura">
    <div class="form-group row">
        <label for="SearchMandanteSumula" class="col-sm-2 col-form-label">Mandante:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="SearchMandanteSumula" placeholder="Mandante">
        </div>
    </div>

    <div class="form-group row">
        <label for="SearchVisitanteSumula" class="col-sm-2 col-form-label">Visitante:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="SearchVisitanteSumula" placeholder="Visitante">
        </div>
    </div>

    <div class="form-group row">
        <label for="SearchDataSumula" class="col-sm-2 col-form-label">Data:</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" id="SearchDataSumula" placeholder="Data">
        </div>
    </div>
            
    <div>
        <br>
        <button type="button" class="btn btn-primary">Buscar</button>
        <button type="button" class="btn btn-success">Nova Súmula</button>
    </div>                           
</section>

<section class="campo_tabela">
    <p class="texto_titulo_tabela">
        Súmulas encontradas:
    </p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Data</th>
                <th scope="col">Mandante</th>
                <th scope="col">Visitante</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioTabelaSumula" id="radioTabelaSumulasOp1" 
                        value="option1" checked>
                        <label class="form-check-label" for="radioTabelaSumulasOp1">
                            20/02/2019
                        </label>
                    </div>
                </td>
                <td>Juventus</td>
                <td>Cruzeiro</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioTabelaSumula" id="radioTabelaSumulasOp2" 
                        value="option2">
                        <label class="form-check-label" for="radioTabelaSumulasOp2">
                            27/02/2019
                        </label>
                    </div>
                </td>
                <td>Guarani</td>
                <td>Catarinense</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioTabelaSumula" id="radioTabelaSumulasOp3" 
                        value="option3">
                        <label class="form-check-label" for="radioTabelaSumulasOp3">
                            13/02/2019
                        </label>
                    </div>
                </td>
                <td>Duque de Caxias</td>
                <td>Juventus</td>
            </tr>

            <tr>
                <th scope="row">4</th>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioTabelaSumula" id="radioTabelaSumulasOp4" 
                        value="option4">
                        <label class="form-check-label" for="radioTabelaSumulasOp4">
                            20/02/2019
                        </label>
                    </div>
                </td>
                <td>Duque de Caxias</td>
                <td>Catarinense</td>
            </tr>

            <tr>
                <th scope="row">5</th>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioTabelaSumula" id="radioTabelaSumulasOp5" 
                        value="option5">
                        <label class="form-check-label" for="radioTabelaSumulasOp5">
                            27/02/2019
                        </label>
                    </div>
                </td>
                <td>Cruzeiro</td>
                <td>Atlético</td>
            </tr>
        </tbody>
    </table>
    <div>
        <br>
        <button type="button" class="btn btn-primary">Abrir Registro</button>
    </div>
</section>

<section class="campo_cadastro">
    <form>
        <p class="texto_titulo_cadastro">
            Cadastro de Súmula
        </p>
        <div class="form-group">
            Código: #8                
        </div>

        <div class="titulos_sumula">
            Informações da Partida               
        </div>
    
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="clubeMandante">Mandante:</label>
                <select id="clubeMandante" class="form-control">
                    <option selected>Juventus</option>
                    <option>Cruzeiro</option>
                    <option>Guarani</option>
                    <option>Catarinense</option>
                    <option>Atlético</option>
                    <option>Duque de Caxias</option>
                </select>
            </div>

            <div class="form-group col-md-1">
                <label for="placarMandante">Placar</label>
                <input type="text" class="form-control" id="placarMandante" required>
            </div>
        
            <div class="form-group col-md-1">
                <label for="placarVisitante">Final</label>
                <input type="text" class="form-control" id="placarVisitante" required>
            </div>


            <div class="form-group col-md-5">
                <label for="clubeVisitante">Visitante:</label>
                <select id="clubeVisitante" class="form-control">
                    <option>Juventus</option>
                    <option selected>Cruzeiro</option>
                    <option>Guarani</option>
                    <option>Catarinense</option>
                    <option>Atlético</option>
                    <option>Duque de Caxias</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="estadio">Estádio:</label>
                <input type="text" class="form-control" id="estadio" required>
            </div>

            <div class="form-group col-md-4">
                <label for="cidade">Cidade/UF:</label>
                <input type="text" class="form-control" id="cidade" required>
            </div>

            <div class="form-group col-md-4">
                <label for="dataHoraPartida">Data/Hora:</label>
                <input type="datetime-local" class="form-control" id="dataHoraPartida" required>
            </div>               
        </div>

        <div class="titulos_sumula">
            Cronologia da Partida              
        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="entradaMandante">Entrada Mandante:</label>
                <input type="time" class="form-control" id="entradaMandante" required>
            </div>

            <div class="form-group col-md-3">
                <label for="entradaVisitante">Entrada Visitante:</label>
                <input type="time" class="form-control" id="entradaVisitante" required>
            </div>

            <div class="form-group col-md-3">
                <label for="inicioJogo">Início Jogo:</label>
                <input type="time" class="form-control" id="inicioJogo" required>
            </div>

            <div class="form-group col-md-3">
                <label for="fimPrimeiroTempo">Fim Primeiro Tempo:</label>
                <input type="time" class="form-control" id="fimPrimeiroTempo" required>
            </div>                  
        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="retornoMandante">Retorno Mandante:</label>
                <input type="time" class="form-control" id="retornoMandante" required>
            </div>

            <div class="form-group col-md-3">
                <label for="retornoVisitante">Retorno Visitante:</label>
                <input type="time" class="form-control" id="retornoVisitante" required>
            </div>

            <div class="form-group col-md-3">
                <label for="reinicioJogo">Início Segundo Tempo:</label>
                <input type="time" class="form-control" id="reinicioJogo" required>
            </div>

            <div class="form-group col-md-3">
                <label for="fimJogo">Fim do Jogo:</label>
                <input type="time" class="form-control" id="fimJogo" required>
            </div>                  
        </div>

        <div class="titulos_sumula">
            Equipe de Arbitragem           
        </div>

        <div class="form-group">
            Árbitro: Algusto João de Souza
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="assistente1">Assistente 1:</label>
                <select id="assistente1" class="form-control">
                    <option selected>Fábio Almeida</option>
                    <option>Reni Berndt</option>
                    <option>Adriano Felício</option>
                    <option>Márcio Badia</option>
                </select>
            </div>

            <div class="form-group col-md-4">
                <label for="assistente2">Assistente 2:</label>
                <select id="assistente2" class="form-control">
                    <option>Fábio Almeida</option>
                    <option selected>Reni Berndt</option>
                    <option>Adriano Felício</option>
                    <option>Márcio Badia</option>
                </select>
            </div>
        </div>
        

        <div class="titulos_sumula">
            Escalação Equipe Mandante             
        </div>

        <div class="escalacoes">
            <table class="table table-dark">
                <thead>
                    <tr>
                    <th scope="col">N° </th>
                    <th scope="col">Nome</th>
                    <th scope="col">Gols</th>
                    <th scope="col">T/R</th>
                    <th scope="col">Cartões</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="escalacoes_num"> 1 </td>
                        <td class="escalacoes_nome"> Aberto Sousa e Silva</td>
                        <td class="escalacoes_gols"> 
                            <input type="number" class="form-control" id="Mandante_gols_row1" required value="0">
                        </td>
                        <td>
                            <select id="Mandante_titular_row1" class="form-control">
                                <option>Titular</option>
                                <option selected>Reserva</option>
                            </select>
                        </td>

                        <td>
                            <select id="Mandante_cartao_row1" class="form-control">
                                <option selected>NA</option>
                                <option>CA</option>
                                <option>CA + CVD</option>
                                <option>2CA</option>
                                <option>CVD</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td class="escalacoes_num"> 2 </td>
                        <td class="escalacoes_nome">João Victor</td>
                        <td class="escalacoes_gols"> 
                            <input type="number" class="form-control" id="Mandante_gols_row2" required value="0">
                        </td>
                        <td>
                            <select id="Mandante_titular_row2" class="form-control">
                                <option>Titular</option>
                                <option selected>Reserva</option>
                            </select>
                        </td>

                        <td>
                            <select id="Mandante_cartao_row2" class="form-control">
                                <option selected>NA</option>
                                <option>CA</option>
                                <option>CA + CVD</option>
                                <option>2CA</option>
                                <option>CVD</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td class="escalacoes_num"> 11 </td>
                        <td class="escalacoes_nome">Fabrício Pedrosa</td>
                        <td class="escalacoes_gols"> 
                            <input type="number" class="form-control" id="Mandante_gols_row3" required value="0">
                        </td>
                        <td>
                            <select id="Mandante_titular_row3" class="form-control">
                                <option>Titular</option>
                                <option selected>Reserva</option>
                            </select>
                        </td>

                        <td>
                            <select id="Mandante_cartao_row3" class="form-control">
                                <option selected>NA</option>
                                <option>CA</option>
                                <option>CA + CVD</option>
                                <option>2CA</option>
                                <option>CVD</option>
                            </select>
                        </td>
                    </tr>                   
                </tbody> 
                
                <div class="botao_detro_tabela">
                    <button class="btn btn-primary" type="button">Adicionar Atleta</button> 
                    <button class="btn btn-danger" type="button">Remover Atleta</button> 
                </div>
            </table>
        </div>

        <div class="titulos_sumula">
            Escalação Equipe Visitante           
        </div>
        
            <div class="escalacoes">
                <table class="table table-dark">
                    <thead>
                        <tr>
                        <th scope="col">N° </th>
                        <th scope="col">Nome</th>
                        <th scope="col">Gols</th>
                        <th scope="col">T/R</th>
                        <th scope="col">Cartões</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="escalacoes_num"> 12 </td>
                            <td class="escalacoes_nome"> Keleber Rodrigues</td>
                            <td class="escalacoes_gols"> 
                                <input type="number" class="form-control" id="Visitante_gols_row1" required value="0">
                            </td>
                            <td>
                                <select id="Visitante_titular_row1" class="form-control">
                                    <option>Titular</option>
                                    <option selected>Reserva</option>
                                </select>
                            </td>

                            <td>
                                <select id="Visitante_cartao_row1" class="form-control">
                                    <option selected>NA</option>
                                    <option>CA</option>
                                    <option>CA + CVD</option>
                                    <option>2CA</option>
                                    <option>CVD</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td class="escalacoes_num"> 5 </td>
                            <td class="escalacoes_nome">Pedro Alberto</td>
                            <td class="escalacoes_gols"> 
                                <input type="number" class="form-control" id="Visitante_gols_row2" required value="0">
                            </td>
                            <td>
                                <select id="Visitante_titular_row2" class="form-control">
                                    <option>Titular</option>
                                    <option selected>Reserva</option>
                                </select>
                            </td>

                            <td>
                                <select id="Visitante_cartao_row2" class="form-control">
                                    <option selected>NA</option>
                                    <option>CA</option>
                                    <option>CA + CVD</option>
                                    <option>2CA</option>
                                    <option>CVD</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td class="escalacoes_num"> 9 </td>
                            <td class="escalacoes_nome">Marcelo Walter</td>
                            <td class="escalacoes_gols"> 
                                <input type="number" class="form-control" id="Visitante_gols_row3" required value="0">
                            </td>
                            <td>
                                <select id="Visitante_titular_row3" class="form-control">
                                    <option>Titular</option>
                                    <option selected>Reserva</option>
                                </select>
                            </td>

                            <td>
                                <select id="Visitante_cartao_row3" class="form-control">
                                    <option selected>NA</option>
                                    <option>CA</option>
                                    <option>CA + CVD</option>
                                    <option>2CA</option>
                                    <option>CVD</option>
                                </select>
                            </td>
                        </tr>                   
                    </tbody> 
                    
                    <div class="botao_detro_tabela">
                        <button class="btn btn-primary" type="button">Adicionar Atleta</button> 
                        <button class="btn btn-danger" type="button">Remover Atleta</button> 
                    </div>
                </table>
            </div>


        <div class="titulos_sumula">
            Substituições Equipe Mandante            
        </div>

        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Tempo</th>
                <th scope="col">Período</th>
                <th scope="col">Entrou</th>
                <th scope="col">Saiu</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td> 
                        <input type="number" class="form-control" id="subs_tempo_mandante1" required value="0">
                    </td>
                    <td>
                        <select id="subs_periodo_mandante1" class="form-control">
                            <option>Primeiro tempo</option>
                            <option selected>Intervalo</option>
                            <option>Segundo tempo</option>
                        </select>
                    </td>

                    <td>
                        <input type="number" class="form-control" id="subs_entrou_mandante1" required value="10">
                    </td>

                    <td>
                        <input type="number" class="form-control" id="subs_saiu_mandante1" required value="20">
                    </td>
                </tr>

                <tr>
                    <th scope="row">2</th>
                    <td> 
                        <input type="number" class="form-control" id="subs_tempo_mandante2" required value="23">
                    </td>
                    <td>
                        <select id="subs_periodo_mandante2" class="form-control">
                            <option>Primeiro tempo</option>
                            <option>Intervalo</option>
                            <option selected>Segundo tempo</option>
                        </select>
                    </td>

                    <td>
                        <input type="number" class="form-control" id="subs_entrou_mandante2" required value="15">
                    </td>

                    <td>
                        <input type="number" class="form-control" id="subs_saiu_mandante2" required value="9">
                    </td>
                </tr>

                <tr>
                    <th scope="row">3</th>
                    <td> 
                        <input type="number" class="form-control" id="subs_tempo_mandante3" required value="37">
                    </td>
                    <td>
                        <select id="subs_periodo_mandante3" class="form-control">
                            <option>Primeiro tempo</option>
                            <option>Intervalo</option>
                            <option selected>Segundo tempo</option>
                        </select>
                    </td>

                    <td>
                        <input type="number" class="form-control" id="subs_entrou_mandante3" required value="14">
                    </td>

                    <td>
                        <input type="number" class="form-control" id="subs_saiu_mandante3" required value="4">
                    </td>
                </tr>

                        
            </tbody> 
            
            <div class="botao_detro_tabela">
                <button class="btn btn-primary" type="button">Adicionar Substituição</button> 
                <button class="btn btn-danger" type="button">Remover Substituição</button> 
            </div>
        </table>


        <div class="titulos_sumula">
            Substituições Equipe Visitante            
        </div>

        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Tempo</th>
                <th scope="col">Período</th>
                <th scope="col">Entrou</th>
                <th scope="col">Saiu</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td> 
                        <input type="number" class="form-control" id="subs_tempo_visitante1" required value="40">
                    </td>
                    <td>
                        <select id="subs_periodo_visitante1" class="form-control">
                            <option selected>Primeiro tempo</option>
                            <option>Intervalo</option>
                            <option>Segundo tempo</option>
                        </select>
                    </td>

                    <td>
                        <input type="number" class="form-control" id="subs_entrou_visitante1" required value="18">
                    </td>

                    <td>
                        <input type="number" class="form-control" id="subs_saiu_visitante1" required value="7">
                    </td>
                </tr>

                <tr>
                    <th scope="row">2</th>
                    <td> 
                        <input type="number" class="form-control" id="subs_tempo_visitante2" required value="10">
                    </td>
                    <td>
                        <select id="subs_periodo_visitante2" class="form-control">
                            <option>Primeiro tempo</option>
                            <option>Intervalo</option>
                            <option selected>Segundo tempo</option>
                        </select>
                    </td>

                    <td>
                        <input type="number" class="form-control" id="subs_entrou_visitante2" required value="44">
                    </td>

                    <td>
                        <input type="number" class="form-control" id="subs_saiu_visitante2" required value="6">
                    </td>
                </tr>

                <tr>
                    <th scope="row">3</th>
                    <td> 
                        <input type="number" class="form-control" id="subs_tempo_visitante3" required value="45">
                    </td>
                    <td>
                        <select id="subs_periodo_visitante3" class="form-control">
                            <option>Primeiro tempo</option>
                            <option>Intervalo</option>
                            <option selected>Segundo tempo</option>
                        </select>
                    </td>

                    <td>
                        <input type="number" class="form-control" id="subs_entrou_visitante3" required value="18">
                    </td>

                    <td>
                        <input type="number" class="form-control" id="subs_saiu_visitante3" required value="10">
                    </td>
                </tr>

                            
            </tbody> 
            
            <div class="botao_detro_tabela">
                <button class="btn btn-primary" type="button">Adicionar Substituição</button> 
                <button class="btn btn-danger" type="button">Remover Substituição</button> 
            </div>
        </table>

        <div class="titulos_sumula">
            Relatório de Expulsões          
        </div>

        <div class="relatorios">
            <textarea class="form-control" aria-label="With textarea" id="relatorio_expulsoes">Nada a Relatar</textarea>
        </div>

        <div class="titulos_sumula">
            Observações Gerais        
        </div>

        <div class="relatorios">
            <textarea  class="form-control" aria-label="With textarea" id="observacoes_gerais">Nada a Relatar</textarea>
        </div>

        <button class="btn btn-success" type="submit">Salvar</button>      
        <button class="btn btn-primary" type="button">Exportar em PDF</button>         
    </form>
</section>