<section class="campo_cadastro">
    <form #formulario="ngForm" (ngSubmit) = "onSubmit(formulario)" >
        <p class="texto_titulo_cadastro">
            Cadastro de Clube
        </p>    
        
        <div class="form-group">
            <div class="form-group col-md-12">
                <label for="nome" class="control-label">Nome</label>
            </div>
    
            <div class="form-group col-md-12">
                <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome" 
                required #nome="ngModel" [(ngModel)]="clube.nome">
            </div>
        </div>

        <div class="form-group">
            <div class="form-group col-md-6">
                <label for="dataFundacao" class="control-label">Data de Fundacao</label>
            </div>
    
            <div class="form-group col-md-6">
                <input type="date" date class="form-control" name="dataFundacao" 
                id="dataFundacao" required #dataFundacao="ngModel" [(ngModel)]="clube.dataFundacao">
            </div>
        </div>

        <div class="form-group">
            <div class="form-group col-md-6">
                <label for="estadio" class="control-label">Estádio</label>
            </div>
    
            <div class="form-group col-md-6">
                <input type="text" class="form-control" name="estadio" id="estadio" 
                placeholder="Estádio" 
                required #estadio="ngModel" [(ngModel)]="clube.estadio">
            </div>

            <div class="form-group col-md-6">
                <label for="cep" class="control-label">CEP</label>
            </div>
    
            <div class="form-group col-md-6">
                <input type="text" class="form-control" name="cep" id="cep" 
                placeholder="CEP" (blur)="verificaCep()" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                required #cep="ngModel" [(ngModel)]="clube.cep">
            </div>           
        </div>

        <div class="form-group">
            <div class="form-group col-md-6">
                <label class="control-label">Logradouro: {{endereco.logradouro}}</label>
            </div>
        </div>

        <div class="form-group">
            <div class="form-group col-md-6">
                <label class="control-label">Bairro: {{endereco.bairro}}</label>
            </div>
        </div>

        <div class="form-group">
            <div class="form-group col-md-6">
                <label class="control-label">Cidade: {{endereco.localidade}}/{{endereco.uf}}</label>
            </div>
        </div>
        
        <p>
            <button class="btn btn-success" [disabled]="!formulario.valid" type="submit">Salvar</button> 
        </p>
        <p>
            <a class="btn btn-danger" routerLink="/clube">Cancelar</a>
        </p>
        
    </form>           
</section>
    